################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PropertyApp.API/.vs/PropertyApp.API/v15
